<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fr.fscript98.zapette">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zapette">
        <activity android:name=".eleve.EtudiantResultats"></activity>
        <activity android:name=".enseignant.ResultatQuestionnaireFinal" />
        <activity android:name=".eleve.QrCode" />
        <activity android:name=".enseignant.QrCodeEnseignant" />
        <activity
            android:name=".enseignant.ResultatQuestionnaire"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eleve.EtudiantRepondre"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eleve.EtudiantQuestionnaire"
            android:screenOrientation="portrait" />
        <activity
            android:name=".enseignant.TeacherBoard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".autre.Capture"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            tools:ignore="Instantiatable" />
    </application>

</manifest>